// ========================================================================
// [common] | 공통 소스
// ========================================================================
// w형 이슈대응
// https://wiki.i-screamedu.com/pages/viewpage.action?pageId=37005948
// * {
//   -webkit-text-size-adjust: none !important;
//   -webkit-touch-callout: none !important;
//   -webkit-user-select: none !important;
//   user-select: none !important;
// }
.blind,
legend {
  @extend %blind
}
caption {
  @extend %blind-pos
}
button {
  border: 0 none;
  outline: 0 none;
  background-color: transparent;
  // 210621 dmahn | 탭 하이라이트 공통(초등/중등) 색상 확정
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
html {
  background-color: #000;
}
body {
  overflow: hidden;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  letter-spacing: 0;
}
.dp-table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.dp-cell {
  display: table-cell;
  vertical-align: middle;
}
//인트로
.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #eaeeef;
  .intro img {
    width: 100%;
    height: auto;
  }
}
// 아이콘
.icon {
  display: inline-block;
  text-indent: -999em;
  // 학습 안내 팝업 - 화살표
  &.i-pop-arrow{
    @include bg-basic($imgpopPath, 'i-pop-arrow-sprites@2x');
    width: 21px;
    height: 33px;
    background-size: 50px 33px;
  }
  // 학습 안내 팝업 - Info
  &.i-pop-info{
    @include bg-img-size(34px, 34px, $imgpopPath, 'i-pop-info@2x');
  }
  // 학습 안내 팝업 - 닫기
  &.i-pop-close{
    @include bg-img-size(32px, 32px, $imgpopPath, 'i-pop-close@2x');
  }
}
