// ========================================================================
// [popup] | 공통 팝업
// ========================================================================
.share-study-pop-ui{
  display: none;
  @include top-left(0, 0);
  width: 100%;
  height: 100%;
  z-index: 0;
  .dim {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
  }
  .pos-a {
    @include top-left(0, 0);
  }
  .dp-table {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .dp-cell {
    display: table-cell;
    vertical-align: middle;
  }
  &.act-on{
    display: block;
    z-index: 100;
  }
}
// 토스트
.share-toast-box {
  @include bottom-left(26px, 0);
  visibility: hidden;
  width: 100%;
  text-align: center;
  &.act-show{
    visibility: visible;
    animation-name: share-motion-show;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: fadein;
    animation-fill-mode: forwards;
  }
  &.act-hidden{
    visibility: visible;
    animation-name: share-motion-hidden;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: fadein;
    animation-fill-mode: forwards;
  }
  &.act-once{
    visibility: visible;
    animation-name: share-motion-once;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: fadein;
    animation-fill-mode: forwards;
  }

  .share-txt-area{
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    &::before{
      @include top-left(0, 0);
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      border-radius: 20px;
      opacity: 0.5;
      content: ''
    }
    .share-txt{
      position: relative;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      // 공지
      &.share-notice-txt{
        padding-left: 26px;
        &::before{
          @include top-left(50%, 0);
          @include bg-img-size(20px, 20px, $imgsharetoastPath, 'i-toast-notion@2x');
          margin-top: -10px;
          content: ''
        }
      }
    }
  }
}
// 토스트 애니메이션
@keyframes share-motion-show {
  0% {
    bottom: -40px;
    opacity: 0;
  }
  100% {
    bottom: 70px;
    opacity: 1;
  }
}
@keyframes share-motion-hidden {
  from {
    bottom: 70px;
    opacity: 1;
  }
  to {
    bottom: -40px;
    opacity: 0;
  }
}
@keyframes share-motion-once {
  0% {
    bottom: -40px;
    opacity: 0;
  }
  30% {
    bottom: 70px;
    opacity: 1;
  }
  80% {
    bottom: 70px;
    opacity: 1;
  }
  100% {
    bottom: -40px;
    opacity: 0;
  }
}
