// ========================================================================
// [popup] | 공통 팝업
button {
  border: 0 none;
  outline: 0 none;
  background-color: transparent
}

.share-middle-pop-ui {
  display: none;
  @include top-left(0, 0);
  width: 100%;
  height: 100%;

  .dim {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
  }

  .pos-a {
    @include top-left(0, 0);
  }

  .dp-table {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .dp-cell {
    display: table-cell;
    vertical-align: middle;
  }

  &.open {
    display: block;
  }

  .ico {
    @extend %ir;

    &.i-circle {
      width: 14px;
      height: 14px;
      background-color: #cae5ed;
      border-radius: 50%;
    }

    &.i-top-close-black {
      @include bg-img-size(22px, 22px, $imgtutorialPath, 'i-top-close-black@2x');
    }

    &.i-top-close-white {
      @include bg-img-size(22px, 22px, $imgtutorialPath, 'i-top-close-white@2x');
    }

    &.i-arrow-prev {
      @include bg-img-size(92px, 54px, $imgtutorialPath, 'i-arrow-prev@2x');
    }

    &.i-arrow-next {
      @include bg-img-size(92px, 54px, $imgtutorialPath, 'i-arrow-next@2x');
    }
  }
}

//---------------------------------------------------------------------
//---------------------------------------------------------------------
// 중등 공통 팝업 - 보너스 쿠키
.share-bonus-box {
  .bonus-icon {
    .i-popup-bonus {
      @include bg-img-size(355px, 319px, $imgsharePath, 'i-popup-bonus@2x');
    }
  }

  .bonus-btn {
    margin-top: 26px;

    .btn {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 41px;
      border-radius: 25px;
      box-sizing: border-box;

      .txt {
        font-size: 22px;
        font-weight: 800;
      }

      &.btn-popup-fill {
        background-color: #375ee7;

        .txt {
          color: #fff;
        }
      }
    }
  }
}

//---------------------------------------------------------------------
// 중등 공통 팝업 - 알림 박스
.share-middle-confirm-box {
  display: inline-block;
  width: auto;
  border-radius: 7px;
  background-color: #fff;

  // 버튼 1~2개
  &.small {
    min-width: 520px;
  }

  // 버튼 3개
  &.medium {
    width: 626px;
  }

  .share-tit-area {
    padding: 18px 35px;
    text-align: left;
    background-color: #cae5ed;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-sizing: border-box;

    .share-tit {
      color: #222;
      font-size: 22px;
      font-weight: 600;
      line-height: 1;
    }
  }

  .share-txt-area {
    margin: 30px 35px;
    text-align: left;

    .share-txt {
      color: #222;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .share-btn-area {
    padding: 20px 35px 30px;
    font-size: 0;
    text-align: right;
    box-sizing: border-box;

    .share-btn {
      .share-btn-item {
        display: inline-block;
        margin: 0 2px;

        .btn {
          width: auto;
          min-width: 120px;
          height: 50px;
          line-height: 1;
          padding: 0 40px;
          border-radius: 25px;
          box-sizing: border-box;

          .txt {
            font-size: 18px;
            font-weight: 600;
          }

          &.btn-popup-fill {
            background-color: #375ee7;

            .txt {
              color: #fff;
            }
          }

          &.btn-popup-stroke {
            border: 2px solid #375ee7;

            .txt {
              color: #375ee7;
            }
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }
}

//---------------------------------------------------------------------
// 중등 공통 팝업 - 토스트
.share-middle-toast-box {
  @include bottom-left(26px, 0);
  visibility: hidden;
  width: 100%;
  text-align: center;

  &.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  .share-txt-area {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    background-color: #222;
    padding: 0 100px;
    box-sizing: border-box;
    border-radius: 4px;

    .share-txt {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

// 중등 공통 팝업 - 토스트 애니메이션
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

// ========================================================================
