// ========================================================================
// [practice] | 연습장
// ========================================================================
.practice-popup{
  display: none;
  @include top-left(0, 0);
  width: 100%;
  height: 100%;
  z-index: 30;
  .dim{
    @include top-left(0, 0);
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
  }
  &.on{
    display: block;
  }
  .icon{
    display: inline-block;
    text-indent: -999em;
    &.i-practice-close{
      @include bg-img-size(22px, 22px, $imgsharepracticePath, 'i-practice-close@2x');
    }
  }
  .i-palette{
    display: inline-block;
    background-image: url('#{$imgsharepracticePath}/i-sprites@2x.png');
    background-size: 150px 136px;
    text-indent: -999em;
    &.i-palette-pencil{
      width: 40px;
      height: 40px;
      background-position: -5px -55px;
    }
    &.i-palette-eraser{
      width: 40px;
      height: 40px;
      background-position: -5px -5px;
    }
    &.i-palette-prev{
      width: 31px;
      height: 26px;
      background-position: -46px -105px;
    }
    &.i-palette-next{
      width: 31px;
      height: 26px;
      background-position: -105px -55px;
    }
    &.i-palette-trash{
      width: 40px;
      height: 40px;
      background-position: -105px -5px;
    }
  }
  .btn-active{
    .i-palette{
      &.i-palette-pencil{
        background-position: -55px -55px;
      }
      &.i-palette-eraser{
        background-position: -55px -5px;
      }
      &.i-palette-prev{
        background-position: -87px -105px;
      }
      &.i-palette-next{
        background-position: -5px -105px;
      }
    }
  }
}
.practice-box{
  position: relative;
  height: 100%;
  .practice-top{
    height: 58px;
    line-height: 58px;
    background-color: #d9ecf2;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #a7c8d3;
    .title-txt-1{
      margin-left: 20px;
      font-size: 26px;
    }
  }
}
//---------------------------------------------------------------------
.save-btn-on{
  .btn-practice-save{
    display: block;
  }
  .range-practice-slider{
    right: 224px;
  }
}
// 범위 슬라이더
.range-practice-slider{
  @include top-right(0, 98px);
  font-size: 20px;
  font-weight: 600;
  color: #000;
  .title-txt-2{
    margin-right: 17px;
  }
}
.practice-slider.ps2{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .slider-bar{
    position: relative;
    width: 220px;
    height: 2px;
    background-color: #6eaabe;
    .slider-current{
      @include top-left(0, 0);
      width: 100%;
      height: 100%;
      background-color: #000;
    }
  }
  .btn-range-slider{
    @include top-right(-7px, 0);
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #222222;
    cursor: pointer;
    @extend %ir;
  }
}
.practice-slider.ps1{
  position: relative;
  display: inline-block;
  .range-slider {
    -webkit-appearance: none;
    width: 220px;
    height: 2px;
    background: #6eaabe;
    outline: none;
    opacity: 0.99;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #222222;
    cursor: pointer;
  }
  .range-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #222222;
    cursor: pointer;
  }
}
//---------------------------------------------------------------------
.btn-practice-save{
  display: none;
  @include top-right(0, 95px);
  padding: 0 10px;
  font-weight: 600;
}
.btn-practice-close{
  @include top-right(0, 14px);
  line-height: 1;
  padding: 18px;
}
//---------------------------------------------------------------------
// 컬러값
.practice-box{
  .palette-wrap{
    position: relative;
  }
  .practice-palette{
    position: relative;
    height: 58px;
    border-bottom: 1px solid #d9ecf2;
    box-sizing: border-box;
    &:before{
      @include top-left(0, 0);
      display: block;
      width: 100%;
      height: 100%;
      background-color: #effafd;
      border-bottom: 1px solid #d9ecf2;
      opacity: 0.75;
      content: ''
    }
    .color-tone-grp{
      @include top-right(13px, 418px);
      &.color-off{
        display: none
      }
    }
    .color-tone{
      display: inline-block;
      margin: 0 14px;
      &.red{
        .color{
          background-color: #fc5c4b;
        }
      }
      &.yellow{
        .color{
          background-color: #ffca39;
        }
      }
      &.blue{
        .color{
          background-color: #00a0ff;
        }
      }
      &.black{
        .color{
          background-color: #000;
        }
      }
      &.active{
        .color-line{
          border-color: #375ee7;
        }
      }
      .color-line{
        display: inline-block;
        border: 3px solid transparent;
        border-radius: 50%;
      }
      .color{
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 2px solid #fff;
        @extend %ir;
      }
    }
  }
}
//---------------------------------------------------------------------
// 버튼
.btn-area-grp{
  @include top-right(4px, 25px);
  // width: 100%;
  .btn-palette{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    border-radius: 50%;
    background-color: transparent;
    &.btn-on{
      background-color: #fff;
    }
    &.btn-touch{
      background-color: #fff;
    }
  }
  .btn-palette-prev,
  .btn-palette-next,
  .btn-palette-trash{
    margin: 0 10px;
  }
}

//---------------------------------------------------------------------
.practice-box{
  .practice-con{
    position: relative;
    width: 100%;
    height: calc(100% - 117px);
    .practice-dim{
      @include top-left(0, 0);
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 1;
    }
  }
}
