// *! layout.sass © choa712@gmail.com, 2020 */
//
// * --------------------------------
// * layout
// * --------------------------------

 // * --------------------------------
 // * 마진
@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  };
}
// * --------------------------------
// * 패딩
@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  padding: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  };
}
//* --------------------------------
// * 컨테이너
@mixin container($max-width: auto, $left: auto, $right: $left) {
  width: 100%;
  max-width: $max-width;
  margin: {
    left: $left;
    right: $right;
  };
}
//* --------------------------------
// * 가로 세로 크기
@mixin size($width: null, $height: null) {
  width: $width;
  height: $height;
}
@mixin mt($top: null) {
  margin-top: $top;
}
@mixin mb($bottom: null) {
  margin-bottom: $bottom;
}
@mixin ml($left: null) {
  margin-left: $left;
}
@mixin mr($right: null) {
  margin-right: $right;
}
@mixin pt($top: null) {
  padding-top: $top;
}
@mixin pb($bottom: null) {
  padding-bottom: $bottom;
}
@mixin pl($left: null) {
  padding-left: $left;
}
@mixin pr($right: null) {
  padding-right: $right;
}




// * --------------------------------
// * 포지션
// * --------------------------------
@mixin position($method: absolute, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
  position: $method;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
@mixin pos-margin($top:0, $right: 0, $bottom: 0, $left: 0) {
  position: relative;
  margin: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  padding: 0;
}
@mixin top-right( $top: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
}
@mixin top-left( $top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin bottom-left( $bottom: 0, $left: 0) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}
@mixin bottom-right( $bottom: 0, $right: 0) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}
@mixin pos( $pos: relative, $display: null ) {
  position: $pos;
  display: $display;
}
@mixin pos-center( $pos: relative) {
  position: $pos;
  margin: 0 auto;
  text-align: center;
}
@mixin pos-left( $pos: relative) {
  position: $pos;
  margin: 0;
  text-align: left;
}

// * --------------------------------
// * Photoshop 값 설정과 동일한 결과 처리
@mixin letter-spacing($value: -10) {
  letter-spacing: ( $value / 1000)+ em;
}

// * --------------------------------
// * 가운데 정렬
@mixin center-h($height) {
  @include position(50% null null null);
  margin-top: -($height/2);
}
@mixin center-w($width) {
  @include position(null null null 50%);
  margin-left: -($width/2);
}
@mixin center($width, $height) {
  @include position(50% null null 50%);
  @include margin(-($height/2) null null -($width/2));
}
@mixin center-pos($width: 10px, $height: 10px) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: {
    left: -($width/2);
    top: -($height/2);
  }
}
