// ========================================================================
// [common] | 공통
// ========================================================================
// 상단 메인 툴
.ico{
  @extend %ir;
  &.i-tools-paper{
    @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-paper-off@2x');
  }
  &.i-tools-pencil{
    @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-pencil-off@2x');
  }
  &.i-tools-highlights{
    @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-highlights-off@2x');
  }
  &.i-tools-eraser{
    @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-eraser-off@2x');
  }
  &.i-tools-undo{
    @include bg-img-size(28px, 23px, $imgWriteTopPath, 'i-tools-undo-disabled@2x');
  }
  &.i-tools-redo{
    @include bg-img-size(28px, 23px, $imgWriteTopPath, 'i-tools-redo-disabled@2x');
  }
}
.act-active{
  .ico{
    &.i-tools-paper{
      @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-paper-on@2x');
    }
    &.i-tools-pencil{
      @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-pencil-on@2x');
    }
    &.i-tools-highlights{
      @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-highlights-on@2x');
    }
    &.i-tools-eraser{
      @include bg-img-size(32px, 32px, $imgWriteTopPath, 'i-tools-eraser-on@2x');
    }
    &.i-tools-undo{
      @include bg-img-size(28px, 23px, $imgWriteTopPath, 'i-tools-undo-defualt@2x');
    }
    &.i-tools-redo{
      @include bg-img-size(28px, 23px, $imgWriteTopPath, 'i-tools-redo-defualt@2x');
    }
  }
}
// 상단 서브 툴
.ico{
  &.i-paper-line1{
    background-image: url('#{$imgWriteTopPath}/i-paper-line1@2x.png');
  }
  &.i-paper-line2{
    background-image: url('#{$imgWriteTopPath}/i-paper-line2@2x.png');
  }
  &.i-paper-line3{
    background-image: url('#{$imgWriteTopPath}/i-paper-line3@2x.png');
  }
  &.i-paper-grid1{
    background-image: url('#{$imgWriteTopPath}/i-paper-grid1@2x.png');
  }
  &.i-paper-grid2{
    background-image: url('#{$imgWriteTopPath}/i-paper-grid2@2x.png');
  }
  &.i-paper-grid3{
    background-image: url('#{$imgWriteTopPath}/i-paper-grid3@2x.png');
  }
}
.ico{
  &.i-top-close{
    @include bg-img-size(28px, 28px, $imgWriteTopPath, 'i-top-close@2x');
  }
}
//---------------------------------------------------------------------------------
// ###학습하기
.study-make{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  &::after{
    @include bottom-left(0, 0);
    @include bg-img-size(1280px, 132px, $imgSpeakRecorderPath, 'bg-recorder@2x');
    content: '';
  }
  &.act-on{
    display: block;
  }
}
