// ========================================================================
// [variable] | 변수
// ========================================================================
$header-main-h: 60px;
$header-sub-h: 50px;
$skin-top-h: calc($header-main-h + $header-sub-h);

$study-make-footer-h: 95px;
$study-make-main-h: calc(100% - $skin-top-h);
$study-make-content-h: calc(100% - $study-make-footer-h);

$skin-side-w: 146px;
// $skin-side-h: calc(#{$height} - #{$skin-top-h} - #{$footer-sub-h});


$footer-main-h: 124px;
$footer-sub-h: 95px;
$skin-bottom-h: $footer-main-h;


// 이미지 경로
$imgStudyPopPath: "../../../images/4-study-make-pop";
$imgWriteTopPath: "../../../images/4-study-make/1-header";
$imgSpeakSidePath: "../../../images/4-study-make/2-side";
$imgWriteContentsPath: "../../../images/4-study-make/3-contents";
$imgSpeakRecorderPath: "../../../images/4-study-make/4-recorder";
