
// ========================================================================
// [header] | 상단
// ========================================================================
.study-make{
  .skin-top{
    width: 100%;
    height: $skin-top-h;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    .header-main{
      height: $header-main-h;
      background-color: #d6d6fb;
      border: 2px solid #c8c9f9;
      box-sizing: border-box;
    }
    .header-sub{
      height: $header-sub-h;
      border-bottom: 2px solid #d6d6fb;
      background-color: #e6e6ff;
      box-sizing: border-box;
    }
    //---------------------------------------------------------------------------------
    //---------------------------------------------------------------------------------
    // 상단 메인
    .top-title{
      position: relative;
      text-align: left;
      font-size: 0;
      // 타이틀 - 생각세포 만들기
      .title-main{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-left: 60px;
        font-size: 27px;
        color: #222;
        font-weight: $base-extrabold;
        letter-spacing: -2px;
        line-height: 54px;
        &::before{
          @include top-left(50%, 16px);
          @include bg-img-size(38px, 49px, $imgWriteTopPath, 'top-title-think-cell@2x');
          margin-top: -22px;
          @extend %ir;
          content: '';
        }
      }
    }
    // 툴
    .top-tools{
      @include top-left(4px, 404px);
      display: inline-block;
      line-height: 1;
      font-size: 0;
      .tool-list-group,
      .history-list-group{
        display: inline-block;
        font-size: 0;
      }
      .tool-list,
      .history-list{
        display: none;
        width: 50px;
        height: 50px;
        margin: 0 12px;
        font-size: 14px;
        vertical-align: top;
        button{
          width: 100%;
          height: 100%;
          line-height: 1;
        }
      }
      .tool-list{
        &.act-on{
          display: inline-block;
        }
        &.act-active{
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          border-radius: 15px;
          background-color: #9294f3;
          background-image: linear-gradient(to bottom, #aeaff9 0%, #7b7de7 100%);
        }
      }
      .history-list-group{
        position: relative;
        margin-left: 17px;
        padding-left: 11px;
        &::before{
          @include top-left(50%, 0);
          display: block;
          width: 1px;
          height: 28px;
          margin-top: -14px;
          background-color: #c8c9f9;
          content: '';
        }
      }
      .history-list{
        display: none;
        &.act-on{
          display: inline-block;
        }
      }
    }
    // 닫기버튼
    .top-close{
      @include top-right(15px, 21px);
      line-height: 1;
    }
    //---------------------------------------------------------------------------------
    //---------------------------------------------------------------------------------
    // 상단 서브
    .sub-box{
      display: none;
      vertical-align: top;
      &.act-on{
        display: inline-block
      }
      .sub-list-group{
        font-size: 0;
      }
      .sub-list{
        display: none;
        vertical-align: top;
        &.act-on{
          display: inline-block;
        }
      }
      //---------------------------------------------------------------------------------
      // 노트
      &.sub-paper-box{
        margin-left: 0;
        .sub-list-group{
          margin-top: 8px;
        }
        .sub-list{
          margin: 0 15px;
        }
      }
      .btn-paper-type{
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        box-shadow: none;
        border: 0 none;
        border-radius: 7px;
        box-sizing: border-box;
        background-color: #ffffff;
        overflow: hidden;
        .i-paper{
          @include top-left(0, 0);
          display: inline-block;
          width: 32px;
          height: 32px;
          background-position: 0 0;
          background-size: 32px 32px;
          background-repeat: no-repeat;
          border-radius: 7px;
        }
      }
      .sub-list{
        &.act-active{
          .btn-paper-type{
            border: 2px solid #9294f3;
            // box-shadow: inset 0 0 0px 2px #9294f3;
            .i-paper{
              @include top-left(-2px, -2px);
            }
          }
        }
      }
      //---------------------------------------------------------------------------------
      // 펜슬
      &.sub-pencil-box{
        .sub-list-group{
          display: inline-block;
          margin-top: 8px;
          vertical-align: top;
        }
        .sub-list-group-color{
          position: relative;
          padding-left: 10px;
          &::before{
            @include top-left(50%, 0);
            display: block;
            width: 1px;
            height: 28px;
            margin-top: -14px;
            background-color: #cfe4ed;
            content: '';
          }
        }
        .sub-list{
          margin: 0 10px;
          &.act-active{
            .btn-pencil-size{
              border: 2px solid #9294f3;
            }
            .btn-pencil-color{
              border: 2px solid #9294f3;
            }
            .i-pencil-color{
              width: calc(100% - 4px);
              height: calc(100% - 4px);
              &::before{
                display: block;
              }
            }
          }
        }
      }
      // 펜슬 사이즈
      .btn-pencil-size{
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        border: 2px solid transparent;
        box-sizing: border-box;
        border-radius: 7px;
        background-color: #ffffff;
        overflow: hidden;
        text-align: center;
        .i-pencil-size{
          display: inline-block;
          background-color: #000000;
          border-radius: 50%;
          &.i-pencil-size-1{
            width: 3px;
            height: 3px;
          }
          &.i-pencil-size-2{
            width: 10px;
            height: 10px;
          }
          &.i-pencil-size-3{
            width: 18px;
            height: 18px;
          }
        }
      }
      // 펜슬 컬러
      .btn-pencil-color{
        position: relative;
        width: 32px;
        height: 32px;
        line-height: 1;
        background-color: transparent;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        border-radius: 50%;
        text-align: center;
        &.b-grey{
          border-color: #dae8f3;
        }
        .i-pencil-color{
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          &::before{
            @include top-left(50%, 50%);
            display: none;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            margin-left: -5px;
            background-color: #ffffff;
            box-sizing: border-box;
            border-radius: 50%;
            content: '';
          }
          &.i-pencil-color-1{
            background-color: #ff2e2e;
          }
          &.i-pencil-color-2{
            background-color: #ffc800;
          }
          &.i-pencil-color-3{
            background-color: #8ad200;
          }
          &.i-pencil-color-4{
            background-color: #02ad26;
          }
          &.i-pencil-color-5{
            background-color: #00a1f4;
          }
          &.i-pencil-color-6{
            background-color: #2f52eb;
          }
          &.i-pencil-color-7{
            background-color: #7c35ff;
          }
          &.i-pencil-color-8{
            background-color: #de29ff;
          }
          &.i-pencil-color-9{
            background-color: #b87c26;
          }
          &.i-pencil-color-10{
            background-color: #814d2e;
          }
          &.i-pencil-color-11{
            background-color: #ffffff;
          }
          &.i-pencil-color-12{
            background-color: #999999;
          }
          &.i-pencil-color-13{
            background-color: #000000;
          }
        }
      }
      //---------------------------------------------------------------------------------
      // 형광펜
      &.sub-highlight-box{
        .sub-list-group{
          display: inline-block;
          margin-top: 8px;
          vertical-align: top;
        }
        .sub-list-group-color{
          position: relative;
          margin-left: 0;
        }
        .sub-list{
          margin: 0 10px;
          &.act-active{
            .btn-highlight-color{
              border: 2px solid #9294f3;
            }
            .i-highlight-color{
              width: calc(100% - 4px);
              height: calc(100% - 4px);
              &::before{
                display: block;
              }
            }
          }
        }
      }
      // 펜슬 컬러
      .btn-highlight-color{
        position: relative;
        width: 32px;
        height: 32px;
        line-height: 1;
        background-color: transparent;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        border-radius: 50%;
        text-align: center;
        .i-highlight-color{
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          &::before{
            @include top-left(50%, 50%);
            display: none;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            margin-left: -5px;
            background-color: #ffffff;
            box-sizing: border-box;
            border-radius: 50%;
            content: '';
          }
          &.i-highlight-color-1{
            background-color: #ff74db;
          }
          &.i-highlight-color-2{
            background-color: #ae80ff;
          }
          &.i-highlight-color-3{
            background-color: #3eddff;
          }
          &.i-highlight-color-4{
            background-color: #3df25a;
          }
          &.i-highlight-color-5{
            background-color: #fff000;
          }
          &.i-highlight-color-6{
            background-color: #ff9200;
          }
        }
      }
      //---------------------------------------------------------------------------------
      // 지우개
      &.sub-eraser-box{
        position: relative;
        margin-left: 0;
        .sub-list-group{
          display: inline-block;
          margin-top: 8px;
          vertical-align: top;
        }
        .sub-list-group-all{
          position: relative;
          padding-left: 10px;
          margin-left: 4px;
          &::before{
            @include top-left(50%, 0);
            display: block;
            width: 1px;
            height: 28px;
            margin-top: -14px;
            background-color: #d6d6fb;
            content: '';
          }
        }
      }
      // 지우개 사이즈
      .btn-eraser-size{
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        border: 2px solid transparent;
        box-sizing: border-box;
        border-radius: 7px;
        background-color: #ffffff;
        overflow: hidden;
        text-align: center;
        .i-eraser-size{
          display: inline-block;
          background-color: #000000;
          &.i-eraser-size-1{
            width: 3px;
            height: 3px;
          }
          &.i-eraser-size-2{
            width: 10px;
            height: 10px;
          }
          &.i-eraser-size-3{
            width: 18px;
            height: 18px;
          }
        }
      }
      .sub-list{
        margin: 0 10px;
        &.act-active{
          .btn-eraser-size{
            border: 2px solid #9294f3;
          }
        }
      }
      .btn-eraser-all{
        position: relative;
        height: 30px;
        line-height: 30px;
        padding-left: 34px;
        font-size: 17px;
        font-weight: $base-bold;
        letter-spacing: -0.9px;
        color: #666;
        &::before{
          @include top-left(0, 0);
          @include bg-img-size(23px, 30px, $imgWriteTopPath, 'i-eraser-all@2x');
          content: '';
        }
      }
      //---------------------------------------------------------------------------------
    }
    //---------------------------------------------------------------------------------
  }
}
