// ========================================================================
// [side] | 사이드 - 캐릭터 메세지 
// ========================================================================
.ico{
  &.i-side-character-1{
    @include bg-img-size(115px,270px, $imgSpeakSidePath, 'img-itrue-thinkcell@2x');
  }
}
.study-make{
  // 스킨 - 사이드
  .skin-side{
    position: absolute;
    top: $skin-top-h;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    .skin-side-wrap{
      position: relative;
      width: $skin-side-w;
      margin: 0 auto;
      text-align: center;
    }
  }
  //---------------------------------------------------------------------------------
  .info-main{
    display: block;
    margin: 0 auto;
    padding-top: 118px;
    text-align: center;
    box-sizing: border-box;
    // 사이드 - 캐릭터
    .side-character{
      display: inline-block;
    }
  }
  //---------------------------------------------------------------------------------
}
