// ========================================================================
// [common] | 챌린지메인-공통
// ========================================================================
.challenge-main{
  //---------------------------------------------------------------------------------
  //알림 영역
  .area-alarm{
    @include bottom-left(10px, 30px);
    width: 940px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(197, 197, 237, 0.85);
    background-color: #d6d6fb;
    box-sizing: border-box;
    text-align: center;
    .alarm-bell{
      @include top-left(4px, 4px);
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      background-color: #ffffff;
      &::before{
        @include top-left(50%, 50%);
        @include bg-img-size(22px, 26px, $imgChallengePath, 'i-alarm-bell@2x');
        margin-top: -13px;
        margin-left: -12px;
        content: ''
      }
      .i-alarm-new{
        @include top-right(0, 0);
      }
    }
    .alarm-rolling{
      @include top-left(0, 74px);
      width: 850px;
      height: 58px;
      line-height: 58px;
      padding-left: 22px;
      text-align: left;
      overflow: hidden;
      &::before{
        @include top-left(50%, 0);
        display: block;
        width: 2px;
        height: 30px;
        margin-top: -13px;
        background-color: #c5c5ed;
        content: '';
      }
      .rolling-list{
        position: relative;
      }
      .al-title{
        @include top-left(15px, 0);
        display: inline-block;
        height: 27px;
        line-height: 27px;
        padding: 0 8px;
        font-weight: $base-extrabold;
        font-size: 15px;
        color: #9294f3;
        text-align: center;
        letter-spacing: -1.12px;
        &::before{
          @include top-left(0, 0);
          width: 100%;
          height: 100%;
          border-radius: 6px;
          border: 2px solid #9294f3;
          opacity: 0.5;
          box-sizing: border-box;
          content: ''
        }
      }
      .al-content{
        margin-left: 52px;
        font-size: 19px;
        font-weight: $base-bold;
        color: #444;
        letter-spacing: -1.4px;
        .al-content-wrap{
          @extend %ellipsis;
          width: 770px;
        }
      }
    }
  }
  //공지 영역
  .area-notice{
    @include bottom-left(10px, 30px);
    width: calc(100% - 60px);
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(197, 197, 237, 0.85);
    background-color: #d6d6fb;
    box-sizing: border-box;
    text-align: center;
    .notice-title{
      @include top-left(0, 0);
      &::before{
        @include top-left(-6px, 23px);
        @include bg-img-size(72px, 65px, $imgChallengePath, 'i-alarm-itrue-notice@2x');
        content: ''
      }
      .txt{
        line-height: 60px;
        padding-left: 116px;
        font-weight: $base-extrabold;
        font-size: 22px;
        color: #222;
        text-align: center;
        letter-spacing: -1.5px;
      }
    }
    .notice-contents{
      @include top-left(0, 233px);
      width: 640px;
      height: 58px;
      line-height: 58px;
      padding-left: 22px;
      text-align: left;
      overflow: hidden;
      &::before{
        @include top-left(50%, 0);
        display: block;
        width: 2px;
        height: 30px;
        margin-top: -13px;
        background-color: #c5c5ed;
        content: '';
      }
      .notice-list{
        position: relative;
        display: inline-block;
        margin-left: 20px;
        font-size: 0;
        vertical-align: middle;
        &:first-child{
          margin-left: 0px;
        }
      }
      .nl-title,
      .nl-content{
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }
      .nl-title{
        height: 27px;
        line-height: 27px;
        padding: 0 10px;
        font-weight: $base-extrabold;
        font-size: 15px;
        color: #9294f3;
        text-align: center;
        letter-spacing: -1.12px;
        &::before{
          @include top-left(0, 0);
          width: 100%;
          height: 100%;
          border-radius: 6px;
          border: 2px solid #9294f3;
          opacity: 0.5;
          box-sizing: border-box;
          content: ''
        }
      }
      .nl-content{
        margin-left: 6px;
        font-size: 19px;
        font-weight: $base-bold;
        color: #444;
        letter-spacing: -1.4px;
      }
    }
  }
  //---------------------------------------------------------------------------------
  // 미션하러가기 버튼 영역
  .area-btn-mission{
    @include bottom-right(10px, 30px);
    .btn-go-mission{
      width: 260px;
      height: 60px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
      border-radius: 30px;
      background-color: #20cac2;
      background-image: linear-gradient(to top, #00c3b3 0%, #00c3b3 30%, #08ead7 100%);
      font-size: 24px;
      font-weight: $base-extrabold;
      color: #ffffff;
      letter-spacing: -1.8px;
      // 비활성화
      &[disabled]{
        background-color: #c8c9f9;
        background-image: none;
        .txt{
          color: #e6e6ff;
          &::before{
            @include bg-img-size(28px, 22px, $imgChallengePath, 'i-btn-mission-go-disabled@2x');
          }
        }
        &::after{
          @include bg-img-size(9px, 14px, $imgChallengePath, 'i-btn-arrow-disabled@2x');
          transform: rotate(0);
        }
      }
      &::after{
        @include top-right(50%, 24px);
        @include bg-img-size(9px, 14px, $imgChallengePath, 'i-btn-arrow@2x');
        margin-top: -7px;
        transform: rotate(-180deg);
        content: ''
      }
      .txt{
        position: relative;
        padding-left: 12px;
        &::before{
          @include top-left(2px, -27px);
          @include bg-img-size(28px, 22px, $imgChallengePath, 'i-btn-mission-go@2x');
          content: ''
        }
      }
    }
  }
  // 참여 신청하기 버튼 영역
  .area-btn-request{
    @include bottom-right(15px, 35px);
    .btn-request{
      width: 295px;
      height: 50px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
      border-radius: 30px;
      background-color: #20cac2;
      background-image: linear-gradient(to top, #00c3b3 0%, #00c3b3 30%, #08ead7 100%);
      font-size: 24px;
      font-weight: $base-extrabold;
      color: #ffffff;
      letter-spacing: -1.8px;
      // 비활성화
      &[disabled]{
        background-color: #c8c9f9;
        background-image: none;
        &::after{
          display: none;
        }
        .txt{
          position: relative;
          padding-left: 36px;
          color: #e6e6ff;
          &::before{
            @include top-left(-1px, 1px);
            @include bg-img-size(30px, 28px, $imgChallengePath, 'i-btn-request-disabled@2x');
            content: ''
          }
        }
      }
      &::after{
        @include top-right(50%, 24px);
        @include bg-img-size(9px, 14px, $imgChallengePath, 'i-btn-arrow@2x');
        margin-top: -7px;
        transform: rotate(-180deg);
        content: ''
      }
      .txt{
        position: relative;
        padding-left: 30px;
        &::before{
          @include top-left(-2px, -7px);
          @include bg-img-size(28px, 27px, $imgChallengePath, 'i-btn-request@2x');
          content: ''
        }
      }
    }
  }
}
