// ========================================================================
// [side-mission] | 챌린지 메인 - 사이드
// ========================================================================
// 사이드 - 홈런미션 진행현황 모션
@keyframes motion-side-hide{
  0% {
    visibility: visible;
    right: 0;
    }
  100% {
    visibility: visible;
    right: -410px;
  }
}
@keyframes motion-side-show{
  0% {
    visibility: visible;
    right: -410px;
    }
  100% {
    visibility: visible;
    right: 0;
  }
}
