// ========================================================================
// [challenge-result] | 챌린지 결과
// ========================================================================
.challenge-main{
  .ico{
    // 성공
    &.i-result-success{
      @include bg-img-size(200px, 200px, $imgResultPath, 'i-result-success@2x');
    }
    // 성공
    &.i-result-mvp{
      @include bg-img-size(200px, 200px, $imgResultPath, 'i-result-success-mvp@2x');
    }
    // 실패
    &.i-result-fail{
      @include bg-img-size(200px, 200px, $imgResultPath, 'i-result-fail@2x');
    }
  }
  .skin-main{
    &.skin-main-result{
      .skin-main-wrap{
        padding: 0
      }
    }
    .result-box{
      box-shadow: 0 0 10px rgba(39, 37, 37, 0.1);
      border-radius: 30px;
      background-color: #ffffff;
    }
    .area-result-detail{
      @include top-left(25px, 380px);
      .result-box{
        width: 550px;
        &.result-box-team{
          height: 209px;
        }
        &.result-box-my{
          margin-top: 20px;
          height: 333px;
        }
      }
    }
    .area-result-ranking{
      @include top-right(25px, 30px);
      .result-box{
        width: 300px;
        height: 562px;
      }
    }
  }
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  .area-result-notice{
    position: relative;
    width: 380px;
    padding-top: 50px;
    text-align: center;
    .result-txt{
      margin-top: 13px;
      font-size: 0;
      .t-txt{
        font-weight: $base-extrabold;
        font-size: 41px;
        color: #9294f3;
        letter-spacing: -3.07px;
        margin-right: 10px;
        &.t-txt-2{
          color: #8362e0;
        }
      }
    }
    .result-date{
      margin-top: 10px;
      .d-title{
        position: relative;
        display: inline-block;
        height: 27px;
        line-height: 27px;
        padding: 0 7px;
        font-weight: $base-extrabold;
        font-size: 15px;
        color: $primary-color;
        text-align: center;
        letter-spacing: -0.07px;
        &::before{
          @include top-left(0, 0);
          width: 100%;
          height: 100%;
          border-radius: 6px;
          border: 2px solid $primary-color;
          opacity: 0.5;
          box-sizing: border-box;
          content: ''
        }
      }
      .d-txt{
        font-weight: $base-bold;
        font-size: 19px;
        color: #444;
        letter-spacing: -1.42px;
      }
    }
    // 성공시 - 성공보상
    .reward-box{
      display: none;
      width: 290px;
      margin-top: 20px;
      border-radius: 15px;
      border: 2px solid #c8c9f9;
      box-sizing: border-box;
      overflow: hidden;
      &.act-on{
        display: inline-block;
      }
      .reward-title{
        display: block;
        height: 40px;
        line-height: 40px;
        border-radius: 13px 13px 0 0;
        background-color: #c8c9f9;
        font-weight: $base-bold;
        font-size: 20px;
        color: #9294f3;;
        letter-spacing: -1.5px;
      }
      .reward-content{
        display: flex;
        height: 150px;
        margin: 0 5px;
        align-items: center;
      }
      .reward-item-grp{
        display: flex;
        width: 100%;
        height: 123px;
        overflow-y: auto;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background-color: #9090a0 ;
        }
        &::-webkit-scrollbar-track {
          border-radius: 20px;
          background-color: #cfcfe5;
        }
      }
      .reward-item{
        position: relative;
        width: 50%;
        height: 100%;
        text-align: center;
        vertical-align: top;
        &::before{
          @include top-left(50%, 0);
          width: 1px;
          height: 112px;
          margin-top: -56px;
          background-image: url('#{$imgResultPath}/bg-reward-line-repeat@2x.png');
          background-size: 1px 5px;
          background-repeat: repeat-y;
          content: ''
        }
        &:first-child{
          &::before{
            display: none;
          }
        }
      }
      .txt{
        display: block;
        margin-top: 8px;
        line-height: 1.1em;
        font-weight: $base-bold;
        font-size: 16px;
        color: #444;
        letter-spacing: -1.2px;
      }
      .img{
        vertical-align: top;
      }
      // 세포
      .cells{
        position: relative;
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        .c-txt{
          display: block;
          margin-top: 16px;
          line-height: 1.2em;
          font-weight: $base-extrabold;
          font-size: 13px;
          color: #fff;
          letter-spacing: -1.2px;
        }
        .c-cell{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .i-cell{
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 2px solid rgba(255, 255, 255, 0.85);
            background-color: #57d0eb;
            border-radius: 50%;
            box-sizing: border-box;
            @extend %ir;
            &:nth-child(1){
              top: 48px;
              left: 16px;
            }
            &:nth-child(2){
              top: 57px;
              left: 26px;
            }
            &:nth-child(3){
              top: 61px;
              left: 37px;
            }
            &:nth-child(4){
              top: 57px;
              left: 48px;
            }
            &:nth-child(5){
              top: 48px;
              left: 57px;
            }
          }
        }
      }
    }
    // 실패시 - 메세지
    .fail-box{
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 280px;
      height: 193px;
      margin-top: 20px;
      border-radius: 15px;
      background-color: #d6d6fb;
      &.act-on{
        display: inline-flex;
      }
      .fail-txt{
        line-height: 1em;
      }
      .fail-txt-2{
        margin-top: 20px;
      }
      .f-txt{
        line-height: 1.0em;
        font-weight: $base-bold;
        font-size: 19px;
        color: #666;
        letter-spacing: -1.4px;
        &.f-bold{
          font-weight: $base-extrabold;
          color: #222;
        }
      }
    }
  }
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  .area-result-detail{
    //미션 현황
    .mission-state-box{
      height: 80px;
      margin-top: 12px;
      border-radius: 10px;
      background-color: #f2f2fe;
      .state-mission-grp{
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: 100%;
      }
      .state-mission-list{
        position: relative;
        width: 50%;
        text-align: center;
        &:first-child{
          &::before{
            display: none;
          }
        }
        &::before{
          @include top-left(50%, 0);
          display: block;
          width: 1px;
          height: 50px;
          margin-top: -25px;
          background-color: #d6d6fb;
          content: ''
        }
      }
      .state-title{
        display: block;
        margin-top: 13px;
        font-weight: $base-bold;
        font-size: 16px;
        color: #9294f3;
        letter-spacing: -1.2px;
      }
      .state-number{
        margin-top: 6px;
        font-size: 0;
        .s-present,
        .s-percent,
        .s-ranking{
          font-weight: $base-extrabold;
          font-size: 24px;
          color: #222;
          letter-spacing: -1.8px;
        }
        .s-all,
        .s-txt{
          margin-left: 3px;
          font-weight: $base-bold;
          font-size: 20px;
          color: #888888;
          letter-spacing: -1.5px;
        }
        .s-all{
          &::before{
            padding-right: 3px;
            content: '/'
          }
        }
      }
    }
    // 소속 팀 결과
    .result-box-team{
      position: relative;
      .team-bottom{
        @include bottom-left(20px, 30px);
        width: calc(100% - 60px);
      }
      // @팀 이미지
      .team-img{
        @include top-left(10px, 30px);
      }
      // @팀 정보
      .team-info{
        position: relative;
        margin-left: 135px;
        padding-top: 20px;
        .team-info-txt{
          font-size: 0;
          .t-title{
            position: relative;
            display: inline-block;
            height: 27px;
            line-height: 27px;
            padding: 0 7px;
            font-weight: $base-extrabold;
            font-size: 15px;
            color: $primary-color;
            text-align: center;
            letter-spacing: -0.07px;
            &::before{
              @include top-left(0, 0);
              width: 100%;
              height: 100%;
              border-radius: 6px;
              border: 2px solid $primary-color;
              opacity: 0.5;
              box-sizing: border-box;
              content: ''
            }
          }
          .t-name{
            display: block;
            width: 390px;
            margin-top: 8px;
            font-weight: $base-extrabold;
            font-size: 24px;
            color: #222;
            letter-spacing: -1.8px;
            @extend %ellipsis;
          }
        }
      }
    }
    // 내 결과
    .result-box-my{
      .result-box-my-wrap{
        padding: 18px 30px;
      }
      .title-result{
        position: relative;
        padding-left: 24px;
        font-weight: $base-extrabold;
        font-size: 22px;
        color: #222;
        letter-spacing: -1.6px;
        &::before{
          @include top-left(50%, 0);
          @include bg-img-size(17px, 21px, $imgResultPath, 'i-title-my@2x');
          margin-top: -10px;
          content: '';
        }
      }
      .my-middle{
        position: relative;
        margin-top: 25px;
        .m-title{
          position: relative;
          padding-left: 10px;
          font-weight: $base-bold;
          font-size: 16px;
          color: #9294f3;
          letter-spacing: -1.2px;
          &::before{
            @include top-left(50%, 0);
            display: block;
            width: 3px;
            height: 15px;
            margin-top: -9px;
            background-color: #9294f3;
            content: ''
          }
        }
        .m-btn-detail{
          @include top-right(-4px, 0);
          padding-right: 27px;
          font-weight: $base-bold;
          font-size: 16px;
          color: #888;
          letter-spacing: -1.2px;
          &::before{
            @include top-right(50%, 0);
            @include bg-img-size(22px, 24px, $imgResultPath, 'i-btn-detail@2x');
            margin-top: -10px;
            content: '';
          }
        }
        .m-cells{
          margin-top: 5px;
          height: 72px;
          overflow: hidden;
          .my-cells-grp{
            display: flex;
            flex-wrap: wrap;
          }
          .my-cells-list{
            height: 29px;
            line-height: 29px;
            padding: 0 10px;
            margin-bottom: 7px;
            margin-right: 7px;
            border-radius: 4px;
            background-color: #f2f2fe;
            font-weight: $base-bold;
            font-size: 16px;
            color: #666666;
            letter-spacing: -0.8px;
          }
        }
      }
      .my-bottom{
        display: none;
        @include bottom-left(0, 30px);
        width: calc(100% - 60px);
        height: 65px;
        line-height: 58px;
        border-top: 1px solid #d6d6fb;
        &.act-on{
          display: block;
        }
        .notice-txt{
          font-weight: $base-bold;
          font-size: 16px;
          color: #888888;
          letter-spacing: -1.2px;
          .n-txt-2{
            color: #ff7e00;;
          }
        }
        .btn-notice{
          @include top-right(10px, 0);
          height: 40px;
          line-height: 40px;
          padding: 0 37px 0 26px;
          border-radius: 20px;
          background-color: #9294f3;
          font-weight: $base-extrabold;
          font-size: 19px;
          color: #fff;
          letter-spacing: -0.7px;
          // 비활성화
          &[disabled]{
            background-color: #d6d6fb;
          }
          &.btn-award{
            background-color: #ffa014;
          }
          .txt{
            position: relative;
            &::before{
              @include top-right(50%, -22px);
              @include bg-img-size(9px, 14px, $imgResultPath, 'i-notice-arrow@2x');
              margin-top: -7px;
              content: '';
            }
          }
        }
      }
    }
  }
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  .area-result-ranking{
    .ranking-middle{
      padding: 20px 15px 20px 25px;
      .title-ranking{
        position: relative;
        padding-left: 22px;
        .txt{
          @include bg-img-size(37px, 21px, $imgResultPath, 'mission-title-ranking@2x');
          @extend %ir;
        }
        &::before{
          @include top-left(50%, 0);
          margin-top: -10px;
          @include bg-img-size(16px, 25px, $imgResultPath, 'mission-i-ranking@2x');
          content: '';
        }
      }
      .list-ranking-grp{
        position: relative;
        margin-top: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        &::before{
          @include top-left(0, 0);
          display: block;
          width: calc(100% - 10px);
          height: 2px;
          border-radius: 2px;
          background-color: $primary-color;
          content: ''
        }
        &::after{
          @include bottom-left(0, 0);
          display: block;
          width: calc(100% - 10px);
          height: 2px;
          border-radius: 2px;
          background-color: $primary-color;
          content: ''
        }
      }
      .list-ranking{
        position: relative;
        &.list-ranking-scroll{
          height: 447px;
          max-height: 447px;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: #a0a0a0;
          }
          &::-webkit-scrollbar-track {
            border-radius: 20px;
            background-color: #e5e5e5;
          }
        }
        .r-list{
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          width: calc(100% - 10px);
          height: 88px;
          font-size: 0;
          border-bottom: 1px solid #dfdfdf;
          &:last-child{
            border-bottom: 0 none;
          }
          // MVP일 때
          &.r-list-mvp{
            .ranking-img{
              border-color: #ffdc00;
              // 왕관
              &::before{
                @include top-left(-14px, 50%);
                @include bg-img-size(30px, 20px, $imgResultPath, 'mission-i-mvp@2x');
                margin-left: -15px;
                content: ''
              }
            }
          }
          // ME일 때
          &.r-list-me{
            background-color: #f4fdfc;
            .ranking-num{
              .num{
                color: $secondary-color;
              }
            }
            .ranking-img{
              &::before{
                @include bottom-left(-6px, 50%);
                width: 35px;
                height: 15px;
                margin-left: -17px;
                line-height: 15px;
                border-radius: 7px;
                background-color: #26c0ca;
                font-weight: $base-bold;
                font-size: 12px;
                color: #fff;
                letter-spacing: -0.9px;
                text-align: center;
                content: 'ME'
              }
            }
            .ranking-graph{
              .p-percent{
                color: $secondary-color;
              }
              .personal-graph{
                .graph-bar{
                  .current-bar{
                    background-color: $secondary-color;
                  }
                }
              }
            }
          }
        }
        //---------------------------------------------------------------------------------
        // @개인 순위
        .ranking-num{
          display: inline-block;
          width: 30px;
          text-align: left;
          .num{
            padding-left: 10px;
            font-weight: $base-bold;
            font-size: 19px;
            color: #222;
            letter-spacing: -1.4px;
          }
        }
        //---------------------------------------------------------------------------------
        // @개인 이미지
        .ranking-img{
          position: relative;
          display: inline-block;
          border: 3px solid transparent;
          border-radius: 50%;
          box-sizing: border-box;
        }
        // @개인 진행률 - 수치/그래프/퍼센트
        //---------------------------------------------------------------------------------
        .ranking-graph{
          padding-left: 20px;
          .personal-number{
            position: relative;
            margin-top: -3px;
            font-size: 0;
            .p-present,
            .p-all,
            .p-percent{
              display: inline-block;
              font-weight: $base-extrabold;
              font-size: 15px;
              color: #444;
              text-align: center;
              letter-spacing: -1.1px;
            }
            .p-all{
              position: relative;
              margin-left: 4px;
              padding-left: 6px;
              font-weight: $base-normal;
              color: #888;
              &::before{
                @include top-left(0, 0);
                content: '/'
              }
            }
            .p-percent{
              @include top-right(0, 0);
              color: $primary-color;
            }
          }
          .personal-graph{
            margin-top: 2px;
            .graph-bar{
              position: relative;
              width: 125px;
              height: 8px;
              &::before{
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-color: #000000;
                opacity: 0.1;
                content: ''
              }
              .current-bar{
                @include top-left(0, 0);
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-color: $primary-color;
                @extend %ir;
              }
            }
          }
        }
        //---------------------------------------------------------------------------------
        // @개인 이모티콘
        .ranking-emoji{
          @include top-right(50%, 0);
          margin-top: -25px;
          margin-left: 8px;
          .emoji-box{
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0 5px;
            &::before{
              @include top-left(0, 0);
              width: 100%;
              height: 100%;
              background-color: #000000;
              border-radius: 50%;
              opacity: 0.05;
              content: '';
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
        //---------------------------------------------------------------------------------
      }
    }
    .ranking-bottom{
      @include bottom-left(12px, 0);
      width: 100%;
      height: 40px;
      .btn-ranking-top{
        width: 100%;
        height: 100%;
        .txt{
          position: relative;
          display: inline-block;
          padding-left: 23px;
          font-weight: $base-extrabold;
          font-size: 16px;
          color: $primary-color;
          letter-spacing: -0.8px;
          &::before{
            @include top-left(50%, 0);
            @include bg-img-size(14px, 9px, $imgResultPath, 'mission-i-arrow-top@2x');
            margin-top: -3px;
            content: ''
          }
        }
      }
    }
  }

  //---------------------------------------------------------------------------------

}
