// ========================================================================
// [sequence] | 3-3-챌린지결과-팝업-MVP
// ========================================================================
@keyframes motion-img{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 -410px;
  }
}
// 총 15개 / 두번째부터 시작하게 하여 14개
@keyframes motion-img{
  $total: 14;
  @for $i from 0 through $total {
    #{$i*7.1}% {
      background-position: 0 (-332px * $i);
    }
  }
  100% {
    background-position: 0 (-332px * $total);
  }
}
