// ========================================================================
// [sequence] | 3-3-챌린지결과-팝업-MVP
// ========================================================================
//###모션 시퀀스
.motion-sequence{
  position: relative;
  display: inline-block;
  .ico{
    &.i-arrow{
      @include bg-img-size(9px, 15px, $imgChallengePath, 'pop-i-txt-arrow@2x');
    }
  }
  //뚜루뚜루 모션
  .motion-img{
    display: block;
    .img-mvp{
      display: block;
      width: 433px;
      height: 332px;
      background-size: 433px 4980px;
      &.is-motions{
        background-image: url('#{$imgChallengePath}/pop-img-mvp-sprites@2x.png');
        animation-name: motion-img;
        animation-delay: 0.2s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: step-start;
        animation-fill-mode: forwards;
      }
    }
  }
  .motion-txt{
      margin-top: 0;
    .m-txt{
      display: block;
      line-height: 1.4em;
      font-size: 30px;
      font-weight: $base-extrabold;
      color: #ffffff;
      letter-spacing: -2.2px;
      &.m-txt-2{
        margin-top: 22px;
        font-size: 18px;
        font-weight: $base-bold;
        letter-spacing: -1.3px;
      }
      .t-highlight{
        color: #ffe827;
        vertical-align: baseline
      }
      .i-arrow{
        margin: 0 4px 0 6px;
        vertical-align: middle;
      }
    }
  }
  .motion-btn{
    margin-top: 35px;
    text-align: center;
    .btn-confirm{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 72px;
      border-radius: 25px;
      background-color: #20cac2;
      font-size: 24px;
      font-weight: $base-extrabold;
      color: #fff;
      letter-spacing: -1.8px;
    }
  }
}
